.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0.7rem;
    padding: 5rem;
    grid-auto-flow: column dense;
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card6 card4";
  }
  
  .card1 { grid-area: card1;
    border-radius: 1rem;
    background:#5D9CEC;
    }
  
  .card2 { grid-area: card2;
    border-radius: 1rem;
    background:#5D9CEC;
    }
  
  .card3 { grid-area: card3;
    border-radius: 1rem;
    background:#5D9CEC;
    }
  
  .card4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-area: card4;
    border-radius: 1rem;
    background:#5D9CEC;
    }
  
  .card6 { grid-area: card6;
    border-radius: 1rem;
    background:#5D9CEC;
    }
  
  .card5 { grid-area: card5;
    border-radius: 1rem;
    background:#5D9CEC;
    }

  .grid-item{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 1rem;
    max-width: 20%;
    height: auto;
  }

  html, body , .container {
    height: 40rem;
    margin: 0;
  }

  footer{
    clear: both;
    margin-bottom: 0;
  }

  